$mdc-theme-primary: #FFFFFF;
$mdc-theme-secondary: #3170F3;
$mdc-theme-background: #28293D;
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "~material-design-icons/iconfont/material-icons.css";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";

.mdc-top-app-bar {
  background: mdc-theme-prop-value(secondary);
}

.mdc-card {
  background: mdc-theme-prop-value(background);
}

body {
  margin: 0;
  background: mdc-theme-prop-value(background);
}

.mdc-drawer {
  border-right-width: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-drawer__content {
  color: $mdc-theme-primary;
  background: mdc-theme-prop-value(secondary);
}

.main-content {
  padding-top: 20px;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  color: $mdc-theme-primary;
  z-index: 7;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: mdc-theme-prop-value(primary);
}

.demo-card__title {
  color: #F3F4F6;
  /* dark gray for good contrast */
  padding: 1rem;
  margin: 0;
}