$mdc-theme-primary: #FFFFFF;
$mdc-theme-secondary: #3170F3;
$mdc-theme-background: #28293D;
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "~material-design-icons/iconfont/material-icons.css";

.mdc-top-app-bar {
   background: mdc-theme-prop-value(secondary);
}

body {
  display: flex;
  height: 200vh;
  background: mdc-theme-prop-value(background);
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}
.mdc-drawer__content {
  color: $mdc-theme-primary;
  background: mdc-theme-prop-value(secondary);
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  color: $mdc-theme-primary;
  z-index: 7;
}

