.search-view[data-v-0cb140d9]{padding:16px}.search-container[data-v-0cb140d9]{position:relative}.suggestions-dropdown[data-v-0cb140d9]{position:absolute;top:56px;left:0;right:80px;z-index:100;max-height:320px;overflow-y:auto}
